@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1rem;
  }

}


:root {
  font-family: "Jost", serif;

  background-color: #1b1b1b;

  color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 990px) {
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #4b4b4b;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}